<div class="tabs is-toggle is-centered is-small is-fullwidth bottom-out">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon is-medium"><i class="fa fa-hotel"></i></span>
          <span>Hotels</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-medium"><i class="fa fa-beer"></i></span>
          <span>Restaurants</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-medium"><i class="fa fa-bicycle"></i></span>
          <span>Activites</span>
        </a>
      </li>
    </ul>
</div>
