<div class="navbar-component">
  <!-- Class `area` is a container -->
  <div class="navbar area">
    <!-- Logo -->
    <a href="#" class="brand">Travl Planr</a>
    <!-- List of links -->
    <nav role="navigation" id="navigation" class="list">
      <a href="#" class="item -link">Home</a>
      <a href="#" class="item -link">Places</a>
      <a href="#" class="item -link">Hotels</a>
      <a href="#" class="item -link">Restaurants</a>
      <a href="#" class="item -link">Activities</a>
      <span class="item"><i class="fa fa-search"></i></span>
    </nav>
    <!-- Button to toggle the display menu  -->
    <button data-collapse data-target="#navigation" class="toggle">
          <!-- Hamburger icon -->
          <span class="icon"></span>
        </button>
  </div>
</div>
