{% extends "layout.html" %} {% block content %}
</head>

<body>
  {% include "./partials/outdated-browser-check.html" %} {% include "./partials/nav-top-main.html" %} {% include "./partials/GoogleMap.html"
  %}
  <div class="container">
    <div class="content">
      <div class="container">

        <form>
          <div class="field">
            <label class="label" for="hotel">Hotels</label>
            <div class="select is-fullwidth is-small">
              <select class="select" id="hotel" name="hotel">
      {% for hotel in hotels %}
       <option value="{{hotel.name}}">{{hotel.name}}</option>
      {% endfor %}
    </select>
            </div>
          </div>

          <div class="field">
            <label class="label" for="restaurant">Restaurants</label>
            <div class="select is-fullwidth is-small">
              <select class="select" id="restaurant" name="restaurant">
                  {% for restaurant in restaurants %}
                   <option value="{{restaurant.name}}">
                   {{restaurant.name}}
                   </option>
                  {% endfor %}
              </select>
            </div>
          </div>

          <div class="field">
          <label class="label" for="activity">Activities</label>
          <div class="select is-fullwidth is-small">
            <select class="select" id="activity" name="activity">
              {% for activity in activities %}
              <option value="{{activity.name}}">{{activity.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  {% include "./partials/nav-bottom.html" %} {% endblock %}
