<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Travl Planr | {% block title%}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <!-- Component -->
  {% include "./partials/navbar.html" %}

  {% block content %} {% endblock %}

  <script src="jquery.min.js"></script>
  <script src="js/nav-burger.js"></script>
  <script src="/reload/reload.js"></script>
</body>

</html>
