html {
  min-height: 600px; }

body {
  min-height: 600px;
  position: relative; }

.bottom-out {
  bottom: -25px;
  left: 0;
  position: absolute;
  width: 100%; }

.fa-plus-gray {
  color: gray; }

.fa-star {
  color: gold; }

.fa-dollar {
  color: olivedrab; }

.is-thumbable * {
  min-height: 30px; }

.map-ui {
  margin: 0 auto; }
  @media only screen and (min-width: 320px) {
    .map-ui {
      height: 40vh;
      width: 100%; } }
  @media only screen and (min-width: 768px) {
    .map-ui {
      height: 40vh;
      width: 100%; } }
  .map-ui .user-plans-display {
    background-image: linear-gradient(); }
