<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>TravlPlanr</strong> by

                <a href="#">Derrick Beining</a> . The source code is licensed

                <a href="http://opensource.org/licenses/mit-license.php">MIT</a> . The website content is licensed

                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a> .
            </p>

            <p>
                <a class="icon is-medium" href="https://github.com/derrickbeining">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
