html {
  // height: 100vh;
  min-height: 600px;
  // max-height: 100vh;
}

body {
  // height: 100vh;
  min-height: 600px;
  // max-height: 100vh;
  position: relative;
  // * {
  //   border: 0.2px solid #D8D8D8
  // }
}

.bottom-out {
  bottom: -25px;
  left: 0;
  position: absolute;
  width: 100%;
}

.fa-plus-gray {
  color: gray;
}

.fa-star {
  color: gold;
}

.fa-dollar {
  color: olivedrab;
}

.is-thumbable {
  * {
     min-height: 30px;
  }
}


.map-ui {
  margin: 0 auto;
  // min-height: 250px;
  @media only screen and (min-width: 320px) {
    height: 40vh;
    width: 100%;
  }

  @media only screen and (min-width: 768px) {
    height: 40vh;
    width: 100%;
    // }
    // @media only screen and (min-width:1024px) {

    // }
    // @media only screen and (min-width:1140px) {

    // }
    // @media only screen and (min-width:1280px) {

    // }
  }

  .user-plans-display {
    background-image: linear-gradient();
  }
}
